*{
    color: #ececec;
    font-family: Roboto,'Open Sens',sans-serif, 'Helvetica Neue', Helvetica, Arial;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    background-color: #212121;
}