.chatWindow{
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* navbar */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span{
    margin: 1rem 2rem;
}

.userIconDev{
    margin: 1rem 2rem;
}

.userIcon{
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* chat input */
.chatInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.inputBox{
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width:100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 14px;
    box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
                rgba(0,0,0,0.09) 0 -12px 30px,
                rgba(0,0,0,0.09) 0 4px 6px,
                rgba(0,0,0,0.09) 0 12px 13px,
                rgba(0,0,0,0.09) 0 -3px 5px;
}

input:focus{
    outline: none;
}

#submit{
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#submit:hover{
    color:#fff;
}

.info{
    font-size: 0.8rem;;
    padding:0.5rem;
    color:#b4b4b4
}

.dropdown{
    position: absolute;
    top: 4rem;
    right: 4rem;
    background-color: #2a2a2a;
    border: solid 1px #444;
    border-radius: 6px;
    width: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100;
    padding:0.3rem 0.5rem ;
    text-align: left;
}

.dropDownItem{
    padding:0.5rem 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
}
.dropDownItem i{
    margin-right:0.5rem;
    font-size: 0.9rem;
    padding: 0.5rem 0.2rem;
}

.dropDownItem:hover{
    background-color: rgba(180,180,180, 0.05);
    border-radius: 6px;
}